<form role="form">
    <!--    <script src="/vacation-confirm/forms/vacation/servicesEmployeeFields.js"></script>-->
    <script cam-script type="text/form-script">

        $scope.request = {};
        $scope.clientDataFetchedFromEDR = false;
        $scope.currencies = [
            'UAH',
            'USD',
            'EUR'
        ];
        $scope.products = [{}];
        $scope.selectedProduct = {};
        $scope.attachments = [{title:''}];
        $scope.verificationStepData = {};
        $scope.showWarningMessage = false

        camForm.on('form-loaded', function () {
            camForm.variableManager.fetchVariable('clientDataFetchedFromEDR');
            camForm.variableManager.fetchVariable('loanRequestData');
            camForm.variableManager.fetchVariable('createRequestStepResult');
            camForm.variableManager.fetchVariable('verificationStepData');
        });

        camForm.on('variables-restored', function () {
            $scope.clientDataFetchedFromEDR = camForm.variableManager.variableValue('clientDataFetchedFromEDR');
            $scope.request = camForm.variableManager.variableValue('loanRequestData');
            $scope.createRequestStepResult = camForm.variableManager.variableValue('createRequestStepResult');
            if ($scope.createRequestStepResult != '') {
                $scope.verificationStepData = camForm.variableManager.variableValue('verificationStepData');
                if ($scope.verificationStepData.decisionResult != 'VERIFIED') {
                    $scope.verificationStepData.decision = 'На доработку';
                    $scope.showWarningMessage = true;
                } else {
                    $scope.verificationStepData.decision = 'Согласовано';
                }
            }
            let requestAttachments = $scope.request.attachments;
            if (requestAttachments && requestAttachments.length > 0) {
                $scope.attachments = requestAttachments;
            }

            $scope.getProductData();
        });

        inject(['$http', '$timeout', function ($http, $timeout){

            $scope.getProductData = function(){
                $http({
                    method: 'GET',
                    url: '/ukrsibbank-demo-credit/api/product'
                }).then(function (result) {
                    $scope.products = result.data;
                    if ($scope.request.productTitle) {
                        $scope.selectedProduct = $scope.products.find(function(product) {
                            return product.code == $scope.request.productTitle;
                        })
                    }
                });
            };


            $scope.uploadAttachmentFile = function(index, attachment) {
                attachment.loading = true;
                let fileInputId = 'attachment-' + index + '-file';
                console.log(fileInputId);
                let file = document.getElementById(fileInputId).files[0];
                let formData = new FormData();
                formData.append('content', file);
                $http({
                    method: 'POST',
                    url: '/ukrsibbank-demo-credit/api/attachment',
                    data: formData,
                    headers: {'Content-Type': undefined}
                }).then(function (result) {
                    let uploadData = result.data;
                    attachment.id = uploadData.fileId;
                    attachment.link = uploadData.fileLink;
                    attachment.loading = false;
                }, function(error) {
                    attachment.loading = false;
                    console.log(error);
                });
            }

            $scope.removeAttachmentFile = function(attachment, index) {
                attachment.loading = true;
                $http({
                    method: 'DELETE',
                    url: '/ukrsibbank-demo-credit/api/attachment/' + attachment.id
                }).then(function (result) {
                    delete attachment.id;
                    delete attachment.link;
                    attachment.loading = false;
                    $scope.attachments.splice(index,1);
                }, function(error) {
                    attachment.loading = false;
                    console.log(error);
                });
            }

        }]);

        camForm.on('submit', function (e) {
            if (!Object.is($scope.request.attachments, $scope.attachments)) {
                $scope.request.attachments = $scope.attachments;
            }
            $scope.request.attachments.forEach(function(attachment) {
                delete attachment.loading;
            });
            $scope.request.productTitle = $scope.selectedProduct.code;
            camForm.variableManager.variableValue('loanRequestData', $scope.request);

            if ($scope.createRequestStepResult == 'CREATED') {
                $scope.createRequestStepResult = 'UPDATED';
            } else {
                $scope.createRequestStepResult = 'CREATED';
            }
            camForm.variableManager.variableValue('createRequestStepResult', $scope.createRequestStepResult);
        });
    </script>
    <div class="row">
        <div class="col-xs-12">
            <div ng-if="showWarningMessage" class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Заявка возвращена на доработку. Проверьте корректность и полноту предоставленных данных.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="requestDate">Дата подачі заявки</label>
            <input id="requestDate" type="text" class="form-control" ng-model="request.requestDate" uib-datepicker-popup="dd.MM.yyyy" required readonly>
        </div>
        <div class="col-md-4 form-group">
            <label for="identificationCode">Код ЄДРПОУ/ІПН</label>
            <input id="identificationCode" type="text" class="form-control" ng-model="request.identificationCode" autocomplete="off" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="clientTitle">Название компании (ФИО клиента-ФОП)</label>
            <input id="clientTitle" type="text" class="form-control" ng-model="request.subjectTitle" autocomplete="off" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="creditAmount">Сумма кредита</label>
            <input id="creditAmount" type="text" class="form-control" ng-model="request.creditAmount" autocomplete="off" required>
        </div>
        <div class="col-md-3 form-group">
            <label for="creditCurrency">Валюта кредита</label>
            <select id="creditCurrency" class="form-control" ng-model="request.creditCurrency" required>
                <option ng-repeat="currency in currencies track by $index" ng-value="currency" ng-selected="currency == request.creditCurrency || $index == 0">{{currency}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="selectedProduct">Программа кредитования</label>
            <select id="selectedProduct" class="form-control" ng-model="selectedProduct" required>
                <option ng-repeat="product in products track by product.code" ng-value="product" ng-selected="product.code == request.productTitle || $index == 0">{{product.title}}</option>
            </select>
        </div>
        <div class="col-md-4 form-group">
            <label for="interestRate">Процентная ставка, %</label>
            <input id="interestRate" type="text" class="form-control" ng-value="selectedProduct.interestRate" required readonly>
        </div>
        <div class="col-md-4 form-group">
            <label for="creditTerm">Срок кредитования, мес</label>
            <input id="creditTerm" type="text" class="form-control" ng-value="selectedProduct.creditTerm" required readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="subjectLifeTime">Срок деятельности компании/ФОП, мес</label>
            <input id="subjectLifeTime" type="text" class="form-control" ng-model="request.subjectLifeTime" autocomplete="off" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="subjectIsActive" ng-model="request.subjectIsActive" />
                    Клиент не банкротится
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="hasNoLitigationsWithBank" ng-model="request.hasNoLitigationsWithBank" />
                    Отсутствуют судебные споры с Банками
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Вложенные документы</h3>
            <div class="row" ng-repeat="attachment in attachments track by $index">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-8 form-group">
                            <label for="attachment-{{$index}}-title">Название документа</label>
                            <input id="attachment-{{$index}}-title" type="text" class="form-control" ng-model="attachment.title" autocomplete="off" required>
                            <span ng-if="attachment.id && attachment.title" class="glyphicon glyphicon-ok" style="position: absolute;left: 100%;top: 32px;color:green;"></span>
                            <span ng-if="!attachment.id || !attachment.title" class="glyphicon glyphicon-exclamation-sign" style="position: absolute;left: 100%;top: 32px;font-size: 17px;color:#ff7600;"></span>
                        </div>
                    </div>
                    <div class="row" ng-if="!attachment.link">
                        <div class="col-md-4 form-group">
                            <label class="btn btn-default form-control" for="attachment-{{$index}}-file">
                                <input type="file" id="attachment-{{$index}}-file" ng-hide="true" accept="application/pdf" required/>
                                Выбрать документ
                            </label>
                        </div>
                        <div class="col-md-4 form-group">
                            <button type="button" class="btn btn-default form-control" ng-click="$event.preventDefault();uploadAttachmentFile($index, attachment);">
                                Загрузить
                            </button>
                        </div>
                        <div class="col-md-4 form-group" ng-if="!attachment.loading">
                            <button type="button" class="btn btn-default form-control" ng-click="$event.preventDefault();attachments.splice($index,1);">
                                Удалить
                            </button>
                        </div>
                        <div class="col-md-4" ng-if="attachment.loading" style="width: 65px">
                            <ng-include src="'/ukrsibbank-demo-credit/resources/spinner.svg'"/>
                        </div>
                    </div>
                    <div class="row" ng-if="attachment.link">
                        <div class="col-md-4 form-group">
                            <a class="btn btn-default form-control" role="button" ng-href="{{attachment.link}}" target="_blank">
                                Просмотр
                            </a>
                        </div>
                        <div class="col-md-4 form-group">
                            <button type="button" class="btn btn-default form-control" ng-click="$event.preventDefault();removeAttachmentFile(attachment, $index);">
                                Удалить
                            </button>
                        </div>
                        <div class="col-md-4" ng-if="attachment.loading" style="width: 65px">
                            <ng-include src="'/ukrsibbank-demo-credit/resources/spinner.svg'"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <button type="button" class="btn btn-default form-control" ng-click="$event.preventDefault();attachments.push({title:''});">
                        Добавить документ
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="subjectInfoIsCorrect" ng-model="request.subjectInfoIsCorrect" required />
                    Даю согласие на проверку данных и подтверждаю что данные указаны мной корректно
                </label>
            </div>
        </div>
    </div>
    <div class="row" ng-if="verificationStepData.resultDate">
        <div class="col-xs-12 form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Заявка проходила проверку аналитиком</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="lastVerificator">Фамилия/имя аналитика</label>
                            <span id="lastVerificator" class="form-control">{{verificationStepData.lastName}} {{verificationStepData.firstName}}</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="verificationDate">Дата проверки</label>
                            <span id="verificationDate" type="text" class="form-control" ng-bind="verificationStepData.resultDate | date:'dd.MM.yyyy HH:mm'"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="verificationResult">Результат</label>
                            <span id="verificationResult" class="form-control">{{verificationStepData.decision}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>