<form role="form">
    <script cam-script type="text/form-script">

        $scope.request = {};
        $scope.selectedProduct = {};

        $scope.confirmationDecisions = [
            {
                value: 'CONFIRMED',
                title: 'Согласовать'
            }, {
                value: 'DECLINED',
                title: 'Отклонить'
            }
        ];

        camForm.on('form-loaded', function () {
            camForm.variableManager.fetchVariable('loanRequestData');
            camForm.variableManager.fetchVariable('createRequestStepData');
            camForm.variableManager.fetchVariable('verificationStepData');
            camForm.variableManager.fetchVariable('confirmationResult');
        });

        camForm.on('variables-restored', function () {
            $scope.request = camForm.variableManager.variableValue('loanRequestData');
            $scope.createRequestStepData = camForm.variableManager.variableValue('createRequestStepData');
            if ($scope.createRequestStepData.decisionResult == 'CREATED') {
                $scope.createRequestStepData.decision = 'Создана'
            } else {
                $scope.createRequestStepData.decision = 'Обновлена'
            }

            $scope.verificationStepData = camForm.variableManager.variableValue('verificationStepData');
            if ($scope.verificationStepData.decisionResult != 'VERIFIED') {
                $scope.verificationStepData.decision = 'На доработку';
            } else {
                $scope.verificationStepData.decision = 'Согласовано';
            }
            $scope.confirmationResult = camForm.variableManager.variableValue('confirmationResult');
            $scope.getProductData();

        });

        inject(['$http', '$timeout', function ($http, $timeout){

            $scope.getProductData = function(){
                $http({
                    method: 'GET',
                    url: '/ukrsibbank-demo-credit/api/product'
                }).then(function (result) {
                    $scope.selectedProduct = result.data.find(function(product) {
                        return product.code == $scope.request.productTitle;
                    })
                });
            };

        }]);

        camForm.on('submit', function (e) {
            camForm.variableManager.variableValue('confirmationResult', $scope.confirmationResult);
        });
    </script>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Данные кредитной заявки</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="requestDate">Дата подачі заявки</label>
                            <input id="requestDate" type="text" class="form-control" ng-model="request.requestDate" uib-datepicker-popup="dd.MM.yyyy" readonly>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="identificationCode">Код ЄДРПОУ/ІПН</label>
                            <span id="identificationCode" class="form-control" >{{request.identificationCode}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="clientTitle">Название компании (ФИО клиента-ФОП)</label>
                            <span id="clientTitle" class="form-control" ng-bind="request.subjectTitle"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="creditAmount">Сумма кредита</label>
                            <span id="creditAmount" class="form-control" ng-bind="request.creditAmount"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="creditCurrency">Валюта кредита</label>
                            <span id="creditCurrency" class="form-control" ng-bind="request.creditCurrency"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="selectedProduct">Программа кредитования</label>
                            <span id="selectedProduct" class="form-control" ng-bind="selectedProduct.title"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="interestRate">Процентная ставка, %</label>
                            <span id="interestRate" class="form-control" ng-bind="selectedProduct.interestRate"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="creditTerm">Срок кредитования, мес</label>
                            <span id="creditTerm" class="form-control" ng-bind="selectedProduct.creditTerm"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="subjectLifeTime">Срок деятельности компании/ФОП, мес</label>
                            <span id="subjectLifeTime" class="form-control" ng-bind="request.subjectLifeTime"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="checkbox disabled">
                                <label>
                                    <input type="checkbox" id="subjectIsActive" ng-model="request.subjectIsActive" disabled />
                                    Клиент не банкротится
                                </label>
                            </div>
                            <div class="checkbox disabled">
                                <label>
                                    <input type="checkbox" id="hasNoLitigationsWithBank" ng-model="request.hasNoLitigationsWithBank" disabled />
                                    Отсутствуют судебные споры с Банками
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Вложенные документы</h3>
                            <ol>
                                <li ng-repeat="attachment in request.attachments track by $index">
                                    <a ng-href="{{attachment.link}}" target="_blank">{{attachment.title}}</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="checkbox disabled">
                                <label>
                                    <input type="checkbox" id="subjectInfoIsCorrect" ng-model="request.subjectInfoIsCorrect" disabled />
                                    Даю согласие на проверку данных и подтверждаю что данные указаны мной корректно
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <p ng-if="createRequestStepData.decisionResult == 'CREATED'">
                        Заявку создал: {{createRequestStepData.lastName}} {{createRequestStepData.firstName}}. Дата: {{createRequestStepData.resultDate | date:'dd.MM.yyyy HH:mm'}}
                    </p>
                    <p ng-if="createRequestStepData.decisionResult != 'CREATED'">
                        Заявку обновил: {{createRequestStepData.lastName}} {{createRequestStepData.firstName}}. Дата: {{createRequestStepData.resultDate | date:'dd.MM.yyyy HH:mm'}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Заявка проходила проверку аналитиком</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="lastVerificator">Фамилия/имя аналитика</label>
                            <span id="lastVerificator" class="form-control">{{verificationStepData.lastName}} {{verificationStepData.firstName}}</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="verificationDate">Дата проверки</label>
                            <span id="verificationDate" type="text" class="form-control" ng-bind="verificationStepData.resultDate | date:'dd.MM.yyyy HH:mm'"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="verificationResult">Результат</label>
                            <span id="verificationResult" class="form-control">{{verificationStepData.decision}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 form-group">
            <label for="confirmationResult">Решение по заявке</label>
            <select id="confirmationResult" class="form-control" ng-model="confirmationResult" required>
                <option ng-repeat="decision in confirmationDecisions track by $index" ng-value="decision.value">{{decision.title}}</option>
            </select>
        </div>
    </div>

</form>